<template name="settings">
    <h2>Sports Pref</h2>
  <hr>
  <div class="row">
    <div class="three columns">
      <div class="text-center">
        <img class="sport" src="img/soccer.png" width="50%" height="50%" alt="">
      </div>
    </div>
        <div class="three columns">
      <div class="text-center">
    <img class="sport" src="img/ice-hockey-player.png" width="50%" height="50%" alt="">
      </div>
    </div>
        <div class="three columns">
      <div class="text-center">
    <img class="sport" src="img/yoga.png" width="50%" height="50%" alt="">
      </div>
    </div>
        <div class="three columns">
      <div class="text-center">
        <img class="sport" src="img/basketball.png" width="50%" height="50%" alt="">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="three columns">
      <div class="text-center">
       <img class="sport" src="img/jogging.png" width="50%" height="50%" alt="">
      </div>
    </div>
        <div class="three columns">
      <div class="text-center">
        <img class="sport" src="img/nfl.png" width="50%" height="50%" alt="">
      </div>
    </div>
        <div class="three columns">
      <div class="text-center">
        <img class="sport" src="img/icefishing.png" width="50%" height="50%" alt="">
      </div>
    </div>
        <div class="three columns">
      <div class="text-center">
        <img class="sport" src="img/skating-silhouette.png" width="50%" height="50%" alt="">
      </div>
    </div>
  </div>
<div class="row">
    <div class="three columns">
      <div class="text-center">
        <img class="sport" src="img/soccer.png" width="50%" height="50%" alt="">
      </div>
    </div>
        <div class="three columns">
      <div class="text-center">
    <img class="sport" src="img/ice-hockey-player.png" width="50%" height="50%" alt="">
      </div>
    </div>
        <div class="three columns">
      <div class="text-center">
    <img class="sport" src="img/yoga.png" width="50%" height="50%" alt="">
      </div>
    </div>
        <div class="three columns">
      <div class="text-center">
        <img class="sport" src="img/basketball.png" width="50%" height="50%" alt="">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="three columns">
      <div class="text-center">
        <img class="sport" src="img/soccer.png" width="50%" height="50%" alt="">
      </div>
    </div>
        <div class="three columns">
      <div class="text-center">
    <img class="sport" src="img/ice-hockey-player.png" width="50%" height="50%" alt="">
      </div>
    </div>
        <div class="three columns">
      <div class="text-center">
    <img class="sport" src="img/yoga.png" width="50%" height="50%" alt="">
      </div>
    </div>
        <div class="three columns">
      <div class="text-center">
        <img class="sport" src="img/basketball.png" width="50%" height="50%" alt="">
      </div>
    </div>
  </div>
</template>
